<!--Salut {{ person.name }} comment ça va ?

{{ person.name }} a {{ person.age }} ans aujourd'hui
-->
<!DOCTYPE HTML>
<!-- Couleurs :
    Blanc       #FFFFFF
    Gris        #333
    Gris clair  #919191
    Gris foncé  #181A1B
    Orangé      #542E00
    Bleu clair  #00A3D0
    Bleu gris   #38435A
    Bleu foncé  #181D27
    -->
<!-- Blog d'écrivain - Made by Lacrotte Florent / Projet 4 - OpenClassrooms -->

<html>

      <head>
        <?php include("include_head.php"); ?>
        {% block head %}
            <title> Me contacter</title>
        {%endblock%}
      </head>
    
    <body>
        <div class="container-fluid">
            {% block content %}{% endblock %}
            <-- ou alors {{block('content') }} si l'on à plusieurs block content-->
        </div>
    </body>

</html>