.socialNetworkBillet .fab, .socialNetworkBillet .far, .socialNetworkBillet .fas {
    color: #FFF;
}

#bodyBillet {
    background-color: #d9d7d7;
}

#splitBillet .split {
    background-color: #181D27;
}

.socialNetworkBillet .circle {
    background-color: #38435A;
}

#billet h2 {
    font-weight: 300;
    font-size: 4em;
    color: #181D27;
    margin-bottom: 60px;
    font-family: "Open sans", sans-serif;
}

#billet h3 {
    font-family: "Open sans", sans-serif;
}

#billet p {
    font-size: 1.3em;
    line-height: 1.8em;
    margin-bottom: 40px;
    text-align: justify;
    font-family: "Gelasio", sans-serif;
}

.billetCapitalize {
    font-size: 2em;
}

#billet form{
    font-family: "Source sans pro", sans-serif ;
}


/* com write part */
#newComBillet {
    padding-top: 70px;
    padding-bottom: 15px;
}

#newComBillet > div {
    background-color: #FFF;
    border-color: #38435A;
    Font-weight: 300;
}

#newComBillet h3 {
    font-size: 1.5em;
    font-weight: 300;
}

#newComBillet input, #newComBillet button, #newComBillet textarea {
    background-color: #BEC1C6;
    color: #181D27;
}


/* com  part */
#comBillet > div {
    background-color: #FFF;
}

#comBillet .dateCom {
    color: cadetblue;
    text-align: left;
    font-size: 0.8em;
}