
#adminConnexion {
    color: #181D27;
    height: 60vh;
}

#adminConnexion h2 {
    font-size: 3em;
    font-weight: 900;
}

#adminConnexion p {
    font-size: 1.6em;
    font-weight: 900;
    color: #181D27;
}


#adminConnexion input, #adminConnexion button {
    background-color: #38435A;
    color: #FFF;
}

#adminConnexion > div {
    height: 100%;
}

#adminConnexion .connexionTwenty {
    height: 10%;
}

#adminConnexion .connexionHeighty {
    height: 90%;
}

#divRGPD {
    display: flex;
    font-size: 0.8em;
    margin-bottom: 20px;
}

#pRGPD{
    font-size: 0.6em !important;
}

#divRGPD input{
    margin: 0px;
}

