
#adminDashboard {
    font-family: "Open sans", sans-serif;
}

.adminDashboard {
    overflow: hidden;
}

.bubbleDashboard {
    background-color: #38435A;
    color: #FFF;
    font-size: 1.5em;
    font-weight: 300;
}

.bubbleTitle {
    font-size: 2em;
    font-weight: 300;
}

#adminDashboard h5 {
    font-size: 0.9em;
    font-weight: 300;
}

#adminDashboard h2 {
    font-size: 2.7em;
    font-weight: 900;
}

.card-body {
    overflow-x: auto;
}

#adminDashboard .fa-pencil-alt, #adminDashboard .fa-trash-alt, #adminDashboard .fa-check-square {
    color: #38435A;
}