                            /* GENERAL */
                            /* GENERAL */
                            /* GENERAL */



a {
    text-decoration: none;
    color: #FFF;
}

.socialNetwork {
    display: flex;
    justify-content: center;
}

.circle {
    border-radius:50%;
    width:30px;
    height:30px;
    margin: 5px;
}

.split {
    width: 100%;
    height: 3px;
    border-radius: 10px;
}

.miniShadow {
    box-shadow: 1px 1px 12px #555;
}

.pages {
    color: #181D27;
    margin-left: 3px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    box-shadow: 1px 1px 4px #555;
}


                            /* HEADER */
                            /* HEADER */
                            /* HEADER */

header {
    background-color: #181D27;
}

.headband {
    color: #FFF;
    background-color: #181D27;
}

.headband > div {
    text-align: center;
}

h1 {
    font-family:"Open Sans", sans-serif ;
}

header .titleFirstPart {
    font-size: 3em;
    font-weight: 300;
}

header .titleSecPart {
    font-size: 3.5em;
    font-weight: 800;
}

header a {
    margin: 10px;
}

.headband .split {
    width: 100%;
    height: 3px;
    background-color: #38435A;
}

/* cercles reseaux sociaux */
.headband .circle {
    background:#38435A;
}


                            /* SECTION 1 TOPLEAF */
                            /* SECTION 1 TOPLEAF */
                            /* SECTION 1 TOPLEAF */




#topLeaf {
    background-color: #181D27;
    height: 60vh;
    z-index: 9;
}

#frameworkLeaf {
    background-color: rgba(24, 29, 39, 0.6);
    width: fit-content;
    width: -moz-fit-content;
    height: fit-content;
    height: -moz-fit-content;
    padding: 5px;
    margin: 10px;
}

#photoLeaf {
    background-image: url("../img/alaska.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 1px 1px 7px #FFF;
    height: 55vh;
    width: 100%;
    z-index: 10;
    border-radius: 3px;
    border: 20px solid #FFF;
}

#textLeaf {
    font-family: "Source Sans Pro", sans-serif;
    color: #FFF;
    margin: 20px;
}

#textLeaf > h2 {
    font-weight: 900;
    font-size: 3em;
    margin: 10px;

}

#textLeaf > p {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 2em;
    margin: 10px;
}

#inputLeaf {
    margin: 20px;
}

#inputLeaf button {
    color: #FFF;
    background-color: #542E00;
    border: none;
    font-family: "Roboto";
    font-size: 1.3em;
    border-radius: 3px;
}



                            /* SECTION INSERT */
                            /* SECTION INSERT */
                            /* SECTION INSERT */

#insert {
    background: #542E00 url("../img/fond-reseaux-sociaux.png");
    background-size: 15%;
    height: fit-content;
    height: -moz-fit-content;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    color: #FFF;
    line-height: 1;
    padding: 25px;
}


/* cercles reseaux sociaux */
#insert .circle {
    background:#905105;
}



                            /* SECTION 2 NEWS */
                            /* SECTION 2 NEWS */
                            /* SECTION 2 NEWS */

#news {
    background-color: #38435A;
    height: fit-content;
    padding-bottom: 50px;
    text-align: center;
    color: #FFF;
    padding-left: 10%;
    padding-right: 10%;
}


#news h2 {
    color: #FFF;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 800;
    font-size: 4em;
    padding-top: 30px;
    margin-bottom: 20px;
}

#news .splitter {
    margin-bottom: 30px;
}

#news h3 {
    color: #FFF;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 800;
    font-size: 2em;
    padding-top: 30px;
    margin-bottom: 15px;
}

#news #frameworkNews > div {
    padding-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

#news .chapter {
    background-color: #181D27;
    border: solid 5px #38435A;
    margin-top: 60px;
}

#news .photoChapter img {
    max-width: 100%;
    height: auto;
    margin-top: -55px;
    border-radius: 3px;
}

#news .split {
    background-color: #FFF;
    padding: 0px 5px 0px 5px;
}

#news .dateChapter {
    color: cadetblue;
    text-align: left;
    font-size: 0.8em;
}

#news .contentChapter {
    text-align: justify;    
}

#news .socialNetworkChapter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 10px;
}

#news .socialCircles .row {
    display: inline-flex;
}

#news .circle {
    background-color: #FFF;
}

#news button {
    color: #FFF;
    background-color: #542E00;
    border: none;
    font-family: "Roboto";
    font-size: 1.3em;
    border-radius: 3px;
    margin-bottom: 10px;
}



                            /* SECTION 3 ABOUT */
                            /* SECTION 3 ABOUT */
                            /* SECTION 3 ABOUT */

#about {
    background-color: #FFF;
    height: fit-content;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

#about > div {
    padding-top: 30px;
    margin-bottom: 5px;
}

#about h2 {
    color: #181D27;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 800;
    font-size: 4em;
}

#about .title h3 {
    color: #181D27;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 800;
    font-size: 3em;
}

#about .title {
    margin-bottom: 20px;
}

#about .split {
    background-color: #181D27;
    padding: 0px;
    margin-bottom: 20px;
}

#about .splitter {
    margin-bottom: 40px;
}

#about .photo img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 3px;
}

#about .inset {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    line-height: 1.2;
}

#book {
    text-align: left;
    font-family: "Source Sans Pro", sans-serif;
}

#about h3 {
    font-size: 3em;
    font-family: "Source Sans Pro", sans-serif;
}

#author {
    text-align: right;
}

#about p {
    font-size: 1.4em;
}


                            /* FOOTER */
                            /* FOOTER */
                            /* FOOTER */

footer {
    color: #FFF;
    background-color: #181D27;
    text-align: center;
}

footer a, footer p {
    margin: 10px;
}

footer .titleFirstPart {
    font-size: 2em;
    font-weight: 300;
}

footer .titleSecPart {
    font-size: 2.5em;
    font-weight: 800;
}

footer nav {
    display: flex;
    justify-content: center;
}

.footerLink > div {
    display: flex;
    justify-content: center;
}