{% extends'template.html.twig' %}

{% block head %}
    <!-- Titre -->
    <title>Connexion | Jean Forteroche</title>
    <!-- Media Queries -->
    <link rel="stylesheet" href="/public/css/styleAdminConnexion.css" />
    <link rel="stylesheet" media="(max-width:576.00px)" href="/public/css/styleAdminConnexion-xs.css" />
    <link rel="stylesheet" media="(min-width:577.00px) and (max-width:768.00px)" href="/public/css/styleAdminConnexion-sm.css" />
    <link rel="stylesheet" media="(min-width:768.00px) and (max-width:992.00px)" href="/public/css/styleAdminConnexion-md.css" />
    <!-- reCAPTCHA -->
    <script src="https://www.google.com/recaptcha/api.js?render=6LfynM0UAAAAAMraccr7e9exuZanOtoNp7B42y33"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LfynM0UAAAAAMraccr7e9exuZanOtoNp7B42y33', { action: 'contact' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
{% endblock head %}

{% block body %}
        <div class="container-fluid">
            {% include "include_header.html" %}
            <div id="adminConnexion" class="row justify-content-center my-3">
                <div class="col-12 col-sm-11 col-md-10">
                    <div class="row d-none d-sm-block connexionTwenty">
                        <div class="col-8">
                            <h2 class="my-3">Page de connexion</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center connexionHeighty">
                        <div class="col-12 col-sm-8 col-md-6 col-lg-4 my-4">
                            <form method="POST" action="contact_post">
                                <p>Connectez vous :</p>
                                <div class="form-group">
                                    <label for="connexionIdent">Identifiant :</label>
                                    <input type="text" id="connexionIdent" name="login" placeholder=" Identifiant" class="form-control" required value="{{RELOAD.getMessages.0.username}}" />
                                </div>
                                <div class="form-group">
                                    <label for="connexionMDP">Mot de passe :</label>
                                    <input type="password" id="connexionMDP" name="password" placeholder=" ############" class="form-control" required />
                                </div>
                                <input type="hidden" name="recaptcha_response" id="recaptchaResponse" />
                                <button class="btn" type="submit" name="submit" value="connect" formaction="/connectAdminConnexion"><i class="fas fa-sign-in-alt mx-2"></i> Se connecter</button><a class="btn btn-link ml-2" href="/signUpConnexion">S'inscrire</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% include "include_footer.html" %}
        </div>
{% endblock body %}