{% extends'template.html.twig' %}

{% block head %}
<!-- Titre -->
<title>Contact | Jean Forteroche</title>
<!-- Media Queries -->
<link rel="stylesheet" href="/public/css/styleContact.css" />
<link rel="stylesheet" media="(max-width:576.00px)" href="/public/css/styleContact-xs.css" />
<!-- Google ReCaptcha -->
<!--<script src="https://www.google.com/recaptcha/api.js?render=_reCAPTCHA_site_key"></script>
<!--<script>
    grecaptcha.ready(function() {
        grecaptcha.execute('_reCAPTCHA_site_key_', {action: 'homepage'}).then(function(token) {
           ...
        });
    });
</script>-->
{% endblock head %}

{% block body %}
        <div class="container-fluid">
            {% include "include_header.html" %}
            <div id="contact" class="row justify-content-center">
                <div class="col-12 col-sm-10 col-md-9 col-lg-7 my-4">
                    <h2 class="mb-4">Formulaire de contact</h2>
                    {% if message %}
                        <div class="p-2 mb-1 border {{bgColorMessage}}">
                            <p class="p-0 m-0 text-center">{{message}}</p>
                        </div>
                    {% endif %}
                    <form method="POST" action="/contact_post" class="p-0 p-sm-3 p-md-5 border">
                        <div class="form row">
                            <div class="form-group col-md-6 col-12">
                                <label for="contactName">Nom : </label> 
                                <input type="text" id="contactName" name="contactName" placeholder=" Votre nom" class="form-control" required />
                            </div>
                            <div class="form-group col-md-6 col-12">
                                <label for="contactFirstName">Prénom :</label>
                                <input type="text" id="contactFirstName" name="contactFirstName" placeholder=" Votre prénom" class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contactMail" class="pb-0" >Addresse mail :</label>
                            <input type="text" id="contactMail" name="contactMail" placeholder=" Votre adresse mail" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label for="contactObject">Objet du message :</label>
                            <input type="text" id="contactObject" name="contactObject" placeholder=" L'objet de votre message" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label for="contactMessage">Message : (255 caractères max)</label>
                            <textarea id="contactMessage" name="contactMessage" cols="30" rows="10" class="form-control" placeholder=" Votre message ici" required></textarea>
                        </div>
                        <div class="form row">
                            <div class="form-group col-md-6 col-12">
                                <p>Les données à caractère personnel que vous nous communiquez feront l'objet d'un traitement automatisé aux fins de gestion de votre demande. Vous disposez d'un droit d'accès, de rectification, de suppression, de limitation et d'opposition conformément à la réglementation sur la protection des données à caractère personnel.</p>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="acceptRGPD_contact" name="acceptRGPD_contact" required />
                                    <label class="custom-control-label" for="acceptRGPD_contact"> Je reconnais avoir pris connaissance de ces droits.</label>
                                </div>
                            </div>
                            <!--<div class="form-group col-md-6 col-12 g-recaptcha" data-sitekey="6LfynM0UAAAAAMraccr7e9exuZanOtoNp7B42y33">
                                <!-- recaptcha->
                            </div>-->
                        </div>
                        <button class="btn mb-3" type="submit" value="Envoyer"><i class="far fa-paper-plane mx-2"></i> Envoyer</button>
                    </form>
                </div>
            </div>
            {% include "include_footer.html" %}
        </div>
{% endblock body %}