<!--
    
                                            HEADER

-->

<header class="row py-4">
    <div class="headband col-lg-12">
        <div class="row justify-content-center flex-column">
            <a href="/host" class="m-0"><h1 class="titleFirstPart col-12">JEAN</h1></a>
            <a href="/host" class="m-0"><h1 class="titleSecPart col-12">FORTEROCHE</h1></a>
            <div class="splitter col-12">
                <div class="row">
                    <div class="spaceSplit col-1"></div>
                    <div class="split col-10"></div>
                    <div class="spaceSplit col-1"></div>
                </div>
            </div>
            <nav class="col-12">
                <div class="row">
                    <div class="col-12">
                        <a href="/host">ACCUEIL</a>
                        <a href="/blog">BLOG</a>
                        <a href="/billet/1">BILLET</a>
                        <a href="/contact">CONTACT</a>
                        <a href="/adminDashboard">DASHBOARD</a>
                    </div>
                </div>
            </nav>
            <div class="socialNetwork col-12">
                <div id="facebook" class="circle d-flex justify-content-center align-items-center">
                    <i class="fab fa-facebook-f"></i>
                </div>
                <div id="instagram" class="circle d-flex justify-content-center align-items-center">
                    <i class="fab fa-instagram"></i>
                </div>
                <div id="twitter" class="circle d-flex justify-content-center align-items-center">
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
        </div>
    </div>
</header>