{% extends'template.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>Test titre: {{billet:title}} [{{billet.id}}]  .</h1>
        </div>
    </div>
{% endblock %}